@import "mix";
.detail-img {
  margin-left: -15px;
  margin-right: -15px;

}
.container-detail-title {
  position: relative;
  z-index: 999;
  > a {
    font-size: 16px;
    color: @default-color;
    padding-left: 10px;
    padding-top: 30px;
    > img {
      margin-right: 10px;
    }
  }
  h1 {
    width: 50%;
    margin: -80px auto 0;
    padding: 20px 50px;
    line-height: 50px;
    text-align: center;
    background-color: @white;
    font-size: 40px;
    border-bottom: 10px solid @primary-color;
  }
}
.container-detail {
  width: 100%;
  >img {
    display: block;
    max-width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
  }
  .container-detail-main {
    padding: 30px 0;
    margin: 0 -15px;
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
.entry {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: @tip-color;
  color: @default-color;

  .entry-btn {
    display: block;
    width: 60%;
    height: 100%;
    padding: 15px 0;
    background-color: @default-color;
    color: @tip-color;
    text-align: center;
    font-size: 18px;
    font-family: "HanSans";
    cursor: pointer;
    img {
      margin-right: 10px;
      width: 36px;
      vertical-align: -12px;
    }
    &.fr {
      margin-right: -5px;
    }
    &.fl {
      margin-left: -5px;
    }
  }
}
.activitiesentries{
  padding: 30px 10%;
  position: relative;
  h2 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
    color: @default-color;
  }
  .swiper-button-prev {
    left: 6%;
  }
  .swiper-button-next {
    right: 6%;
  }
}
@media (max-width: 768px) {
  .container-detail-title h1 {
    font-size: 14px;
  }
}
