@import "mix";
body {
  padding-bottom: 60px;
  background-color: @white;
  .bsb;
}
.fl {float: left;}
.fr {float: right;}
// 底部导航
.navbar-brand-shell {
  padding: 20px 30px;
}
@media (max-width: 768px){
  .navbar-brand-shell {
    padding: 15px;
  }
  .container-fluid-product {
    position: relative !important;
  }
}
// 导航栏
@import "nav";
// 产品与服务
@import "product";
// 资讯在浙里
@import "here";
// 首页
@import "home";
//我的故事
@import "my_story";
