@import "mix";
body {
  padding-bottom: 60px;
  background-color: @white;
  .bsb;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.fl {float: left;}
.fr {float: right;}
// 底部导航
.navbar-brand-shell {
  padding: 20px 30px;
}
@media (max-width: 768px){
  .navbar-brand-shell {
    padding: 15px;
  }
  .container-fluid-product {
    position: relative !important;
  }
  .logo {
    left: 5px !important;
    top: 10px !important;
    img {
      width: 60px;
    }
  }
}
// logo
@import 'logo';
// 导航栏
@import "nav";
// 产品与服务
@import "product";
// 资讯在浙里
@import "here";
// 首页
@import "home";
//我的故事
@import "my_story";
// 润滑油防伪
@import "lubricating";
// 列表模块
@import "list";
// 常见问题
@import "problem";

