.bsb {
  box-sizing: border-box;
}
@font-face {
  font-family: 'HanSans';
  src: url('../bootstrap/fonts/font-en/Futura.ttc');
}
@font-face {
  font-family: 'HanSansZh';
  src: url('../bootstrap/fonts/font-zh/SourceHanSansCN-Regular.otf');
  src: url('../bootstrap/fonts/font-zh/SourceHanSansCN-Regular.otf') format('otf');
}
body {
  padding-bottom: 60px;
  background-color: #fff;
  box-sizing: border-box;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.navbar-brand-shell {
  padding: 20px 30px;
}
@media (max-width: 768px) {
  .navbar-brand-shell {
    padding: 15px;
  }
  .container-fluid-product {
    position: relative !important;
  }
}
.navbar-shell {
  background-color: #d42e12;
}
.navbar-shell .navbar-right {
  padding-right: 40px;
}
.navbar-shell .navbar-collapse.in .navbar-right,
.navbar-shell .collapsing .navbar-right {
  padding-right: 0;
}
.navbar-shell a {
  color: #fff;
  font-family: "HanSans", "HanSansZh";
}
.navbar-shell .icon-bar {
  background-color: #fff;
}
.navbar-shell .nav > li > a {
  height: 60px;
  padding: 0 20px;
  min-width: 100px;
  text-align: center;
  overflow: hidden;
}
.navbar-shell .nav > li > a > div {
  height: 120px;
  line-height: 60px;
  transition: all .5s;
  transform: translateY(0px);
  overflow: hidden;
}
.navbar-shell .nav > li > a > div > p {
  margin: 0;
  padding: 0;
}
.navbar-shell .nav > li:hover > a {
  background-color: #f1301b;
}
.navbar-shell .nav > li:hover > a > div {
  transition: all .5s;
  transform: translateY(-60px);
}
.navbar-shell .nav > li > .dropdown-menu {
  min-width: 100%;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  padding: 15px 0 0;
  background-color: #f1301b;
}
.navbar-shell .nav > li > .dropdown-menu > li > a {
  color: #fff;
  padding: 10px 20px;
  background-color: #f1301b;
}
.navbar-shell .nav > li > .dropdown-menu > li > a:hover,
.navbar-shell .nav > li > .dropdown-menu > li > a:focus {
  background-color: #d42e12;
  color: #fff;
}
.navbar-shell .nav > li.open > a {
  background-color: #f1301b;
}
.navbar-shell .nav > li.open > .dropdown-menu {
  display: none;
}
.navbar-shell .nav > li:hover > .dropdown-menu {
  display: block;
}
.navbar-shell .nav > li.active > a,
.navbar-shell .nav > li > a:focus,
.navbar-shell .nav > li > a:hover,
.navbar-shell .nav .open > a:hover {
  background-color: #f1301b;
}
.container-fluid-product {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-fluid-product .logo {
  position: absolute;
  z-index: 2;
  left: 30px;
  top: 25px;
}
.container-fluid-product > .row {
  height: 100%;
  overflow: hidden;
}
.container-fluid-product > .row > div {
  padding: 0;
  height: 100%;
}
.container-fluid-product > .row > div > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-fluid-product > .row > div > a:hover .product .summary {
  display: block;
  opacity: 1;
  transition: all 1.2s linear;
}
.container-fluid-product > .row > div > a:hover .product .tips {
  opacity: 0;
  transition: all .5s;
}
.container-fluid-product .product {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.container-fluid-product .product img {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
}
.container-fluid-product .product .summary,
.container-fluid-product .product .tips {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 80%;
  height: 140px;
  margin-left: -40%;
  left: 50%;
  bottom: 15%;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 10px solid #d42e12;
  transition: all .8s linear;
}
.container-fluid-product .product .summary table,
.container-fluid-product .product .tips table {
  height: 100%;
  width: 100%;
  text-align: center;
}
.container-fluid-product .product .summary table td,
.container-fluid-product .product .tips table td {
  color: #404040;
  line-height: 24px;
  font-size: 16px;
}
.container-fluid-product .product .summary table td p,
.container-fluid-product .product .tips table td p {
  padding: 0;
  margin: 0;
}
.container-fluid-product .product .tips {
  opacity: 1;
  border: 0;
  background: none;
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
  transition: all .5s;
}
.container-fluid-product .product .tips > p {
  font-size: 36px;
  font-weight: 200;
}
.container-fluid-product .oil {
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
  overflow-y: auto;
}
.container-fluid-product .oil .oil-img img {
  display: block;
  width: 68%;
}
.container-fluid-product .oil h2 {
  text-align: center;
  padding-bottom: 30px;
}
.container-fluid-product .oil h2 > span {
  float: left;
  background-color: #d42e12;
  color: #fff;
  font-family: 'HanSans';
  font-size: 22px;
  font-weight: bold;
  padding: 5px 10px;
}
.container-fluid-product .oil .oil-content {
  font-size: 16px;
  color: #404040;
  font-weight: 200;
  line-height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.container-fluid-product .oil .oil-content p {
  margin-bottom: 20px;
}
.container-fluid-here {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('../images/here.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto auto;
}
.container-fluid-here .logo {
  position: absolute;
  z-index: 2;
  left: 30px;
  top: 25px;
}
.container-fluid-home {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}
.container-fluid-home .videos {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.container-fluid-home .videos video {
  display: none;
  width: 100%;
  height: 100%;
}
.container-fluid-home .swiper-container-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.container-fluid-home .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container-fluid-home .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.container-fluid-home .swiper-slide .inner-swiper-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-fluid-home .swiper-slide .swiper-img {
  margin-top: -5%;
}
.container-fluid-home .swiper-slide .swiper-img img {
  display: none;
}
.container-fluid-home .swiper-slide .swiper-img.end img {
  opacity: 1;
  transition: all .5s;
}
.china-box {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 0px;
  padding-right: 0px;
  z-index: 1;
}
.china-box .open-bigRed-world {
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  z-index: 999;
}
.china-box .open-bigRed-world .open-bigRed-world-img {
  position: absolute;
  left: 12.5%;
  bottom: 0;
}
.china-box .open-bigRed-world .img-cover {
  background: #FFF;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.china-box .story-banner-box {
  position: fixed;
  z-index: 8;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}
.china-box .story-banner-box .story-banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 9;
  overflow: hidden;
}
.china-box .story-banner-box .story-banner .banner {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 10;
}
.china-box .story-banner-box .story-banner .banner a {
  width: 150px;
  height: 140px;
  display: block;
  position: absolute;
  z-index: 11;
}
.china-box .story-banner-box .story-banner .banner a.link_global {
  left: 32.5%;
  top: 68.8%;
}
.china-box .story-banner-box .story-banner .banner a.link_china {
  left: 46%;
  top: 68.8%;
}
.china-box .story-banner-box .story-banner .banner a.link_zhejiang {
  left: 59.63541666666667%;
  top: 68.8%;
}
.china-box .story-banner-box .story-banner .bigRed-world {
  width: 76%;
  height: auto;
  position: absolute;
  z-index: 999;
  top: 6.5%;
  left: 12.5%;
  animation: myfirst 1s;
  -moz-animation: myfirst 1s;
  /* Firefox */
  -webkit-animation: myfirst 1s;
  /* Safari 和 Chrome */
  -o-animation: myfirst 1s;
}
.china-box .story-banner-box .story-banner .word-box {
  text-align: center;
  position: relative;
  z-index: 3;
  line-height: 32px;
  top: -32px;
}
.china-box .story-center {
  width: 100%;
  height: auto;
  position: relative;
  left: 0px;
  z-index: 9;
}
.china-box .story-center .story-left-nev {
  width: 215px;
  height: 344px;
  position: absolute;
  left: 10px;
  top: 248px;
  background: #f1f1f1;
}
.china-box .story-center .story-left-nev a {
  width: 215px;
  height: 86px;
  display: block;
  color: #5a5a5a;
  line-height: 86px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}
.china-box .story-center .story-left-nev a:hover {
  background: #e5e5e5;
  text-decoration: none;
}
.china-box .story-center .story-left-nev a.activer {
  background: #e5e5e5;
}
.china-box .story-center .top-gotogether {
  width: 100%;
  height: auto;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
}
.china-box .story-center .top-gotogether img {
  width: 100%;
  height: auto;
  opacity: 0;
}
@keyframes myfirst {
  from {
    top: -500px;
    opacity: 0;
  }
  to {
    top: 6.5%;
    opacity: 1;
  }
}
@-moz-keyframes myfirst {
  /* Firefox */
  from {
    top: -500px;
    opacity: 0;
  }
  to {
    top: 6.5%;
    opacity: 1;
  }
}
@-webkit-keyframes myfirst {
  /* Safari 和 Chrome */
  from {
    top: -500px;
    opacity: 0;
  }
  to {
    top: 6.5%;
    opacity: 1;
  }
}
@-o-keyframes myfirst {
  /* Opera */
  from {
    top: -500px;
    opacity: 0;
  }
  to {
    top: 6.5%;
    opacity: 1;
  }
}
