// 导航条背景色
@primary-color: #d42e12;
// 导航当前背景色
@current-color: #f1301b;
// 文字颜色
@default-color: #404040;
// 文字浅色
@default-small-color: #818181;
// 导航文字颜色
@white: #fff;
// 标签色
@tip-color: #fbce07;
// 部分背景色
@gray: #f4f4f4;
